/* font family imported*/
@import url('https://fonts.googleapis.com/css2?family=Inconsolata:wght@700&family=Montserrat:wght@700&family=Space+Mono:wght@400;700&display=swap');


/* Utilities */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/* body styling here  */
body{
    padding: 20px 75px;
}
/* header section styling start  */
.header h2{
    color: #333;
    font-family: Inconsolata;
    font-size: 24px;
    font-weight: 700;
    letter-spacing: -1.92px;
    text-transform: uppercase;
}